<h2>Class: <span id="class-name">Loading...</span></h2>

<div>Enter your authority in the field below</div>

<div>
  <label>Authority: <input id="authority" size="90" value="" /></label>
</div>
<div>
  <label>Message: <input id="message" size="50" /></label>
</div>
<div>
  <label>Args: <input id="args" size="50" value="[]" /></label>
</div>
<button id="read">Read</button>
<button id="execute">Execute</button>

<pre id="result"></pre>

<div id="history">
  <h2>History</h2>
  <pre class="first">
  </pre>
</div>

<%= javascript_include_tag "custom/ui" %>
